* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
  background-color: #f5f8fb;
}

.main-wrapper {
  display: flex;
}

.rsc {
  width: 100%;

  &-container {
    width: 100%;
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
  }

  /* Content Section */
  &-content {
    height: auto;
    min-height: 20vh;
    max-height: 90vh;
    padding-bottom: 50px;
  }

  &-footer {
    max-width: 900px;
    margin: 0 auto;
    display: none;
  }
    &-input {
      box-shadow: 0 -6px 35px rgba(0,0,0,.1);
      border-radius: 40px;
    }
}

.option {
  &__element {
    background-color: transparent;
    color: inherit;
    font-size: 1rem;
    box-shadow: none;
    transition: .2s ease-in;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px solid #317AE9;
    color: #317AE9;

    &:hover {
      box-shadow: 1px 5px 20px #317AE9;
      background-color: #317AE9;
      color: #ffffff;
      opacity: 1;
    }
  }
}


/* CHAT SECTION */
.chat {
  &__bubble {
    background: transparent;
    box-shadow: none;
    font-size: 1.2rem;
    color: #303030;

    &.user {
      background-color: #317AE9;
      color: #ffffff;
    }
  }
}

/* RESULT COMPONENT */
.result {
  &__component {
    box-shadow: 0 8px 40px rgba(0,0,0,.1);
    margin: 0 20px;
    border-radius: 4px;
  }
}


section {
  min-width: 700px;
}
